/* Importa as fontes Bebas Neue e Cormorant Garamond do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

/* Define um gradiente de fundo para ser usado nas imagens de fundo */


/* Define o estilo padrão para todos os elementos */
* {
  box-sizing: border-box; /* Torna as bordas parte do tamanho do elemento */
  user-select: none; /* Não permite que o usuário selecione texto */
}

/* Define o estilo para todos os links */
a {
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado */
}

/* Define o estilo para o corpo da página */
body {
  margin: 0; /* Remove a margem padrão */
  padding: 0; /* Remove o preenchimento padrão */
  height: 100vh; /* Define a altura da página como 100% da altura da janela do navegador */
  color: white; /* Cor do texto */
  background: black; /* Cor de fundo */
  font-family: "Cormorant Garamond", serif; /* Define a fonte */
  text-transform: uppercase; /* Converte todo o texto para maiúsculo */
}

/* Define o estilo para títulos de segundo nível */
h2 {
  font-size: clamp(1rem, 5vw, 5rem); /* Define o tamanho da fonte com uma fórmula responsiva */
  font-weight: 400; /* Define a espessura da fonte */
  text-align: center; /* Alinha o texto ao centro */
  letter-spacing: 0.5em; /* Espaçamento entre letras */
  margin-right: -0.5em; /* Corrige o alinhamento do texto */
  color: hsl(0, 0, 80%); /* Cor do texto */
  width: 90vw; /* Define a largura máxima do título */
  max-width: 1200px; /* Define a largura máxima do título */
}

/* Define o estilo para o cabeçalho da página */
header {
  position: fixed; /* Mantém o cabeçalho sempre visível */
  display: flex; /* Usa um layout flexível */
  align-items: center; /* Alinha os itens verticalmente */
  justify-content: space-between; /* Distribui os itens horizontalmente */
  padding: 0 5%; /* Espaçamento interno */
  width: 100%; /* Largura total */
  z-index: 3; /* Define a camada da sobreposição */
  height: 7em; /* Altura do cabeçalho */
  font-family: "Bebas Neue", sans-serif; /* Define a fonte */
  font-size: clamp(0.66rem, 2vw, 1rem); /* Define o tamanho da fonte com uma fórmula responsiva */
  letter-spacing: 0.5em;
}

section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;

  .outer,
  .inner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }

  .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;

    h2 {
      z-index: 2;
    }

    .clip-text {
      overflow: hidden;
    }
  }
}

.first {
  .bg {
    background-image: src="img/section.jpg";
  }
}

.second {
  .bg {
    background-image: $bg-gradient,
      url("https://images.unsplash.com/photo-1617128734662-66da6c1d3505?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzc3NTM3MA&ixlib=rb-1.2.1&q=75&w=1920");
  }
}

.third {
  .bg {
    background-image: $bg-gradient,
      url(https://images.unsplash.com/photo-1617438817509-70e91ad264a5?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDk4Mg&ixlib=rb-1.2.1&q=75&w=1920);
  }
}

.fourth {
  .bg {
    background-image: $bg-gradient,
      url(https://images.unsplash.com/photo-1617412327653-c29093585207?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDgzMQ&ixlib=rb-1.2.1&q=75&w=1920);
  }
}

.fifth {
  .bg {
    background-image: $bg-gradient,
      url("https://images.unsplash.com/photo-1617141636403-f511e2d5dc17?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODAzMjc4Mw&ixlib=rb-1.2.1&q=75w=1920");
    background-position: 50% 45%;
  }
}

h2 * {
  will-change: transform;
}